{{ set(this, 'title', 'Signup Successful') }}

{% set networkData = _Network.getNetworkData() %}
           
<div class="article status-message">
    <h2>Registration Successfull</h2>
    <p>Thank You for registering with us. Please check your inbox to verify your email address.</p>
</div>