.article {
    @extend .container;
    padding: 45px 15px;
    @include desktop-sm {
        padding: 60px 0 0;
    }
    &::before {
        display: none;
    }
    &::after {
        display: none;
    }
    &.status-message {
        text-align: center;
        padding: 80px 0 50px;
    }
    img {
        width: 100%;
        margin-top: 30px;
        margin-bottom: 60px;

    }
    h1 {
        @include text-lg();
        margin-bottom: 30px;
    }
    h2 {
        @include text-lg($font-multiplier: 2, $font-multiplier-sm: 1.4);
        margin-bottom: 30px;
    }
    h3 {
        @include text-lg($font-multiplier: 1.75, $font-multiplier-sm: 1.3);
        margin-bottom: 30px;
    }
    h4 {
        @include text-lg($font-multiplier: 1.5, $font-multiplier-sm: 1.2);
        margin-bottom: 30px;
    }
    h5 {
        @include text-lg($font-multiplier: 1.35, $font-multiplier-sm: 1.1);
        margin-bottom: 30px;
    }
    h6 {
        @include text-lg($font-multiplier: 1, $font-multiplier-sm: 0.9);
        margin-bottom: 30px;
    }
    p {
        @include text-md($line-height:1.6666);
        margin-bottom: 30px;
    }
    p + ol, p + ul {
        //margin-top: -20px;
    }
    ol, ul {
        overflow: hidden;
        margin-bottom: 20px;
        padding-left: 25px;
        li {
            width: 100%;
            float: left;
            list-style-position: outside;
            padding-left: 7px;
            @include text-md($line-height:1.6666);
            + li {
                margin-top: 10px;
            }
            > p {
                margin-bottom: 0px; 
            }
        }
    }
    ul li {
        list-style-type: disc;
    }
    ol li {
        list-style-type: decimal;
    }
    /* img {
        width: calc(100% + 20px) !important;
        height: auto !important;
        margin-left: -10px;
        margin-right: -10px;
        @include desktop-sm {
            width: 1170px !important;
            margin-top: 30px;
            margin-bottom: 60px;
            margin-left: -70px;
            margin-right: -70px;
        }
    } */
    img {
        width: 100%;
        height: auto !important;
        margin-left: 0px;
        margin-right: 0px;
        @include desktop-sm {
            margin-top: 30px;
            margin-bottom: 60px;
        }
    }
    figure {
        position: relative;
        margin-top: 30px;
        margin-bottom: 60px;
        float: left;
        img {
            margin-top: 0px;
            margin-bottom: 0px;
        }
        figcaption {
            /* width: calc(100% + 20px);
            margin-left: -10px;
            margin-right: -10px; */
            width: 100%;
            margin-left: 0px;
            margin-right: 0px;
            position: absolute;
            bottom: 0;
            left: 0;
            background: rgba($black, 0.7) none repeat scroll 0 0;
            color: $white;
            z-index: 30;
            padding: 10px 20px;
            @include desktop-sm {
                width: 1170px !important;
                margin-left: -70px;
                margin-right: -70px;  
            } 
        }
    }
    blockquote {
        padding-left: 30px;
        margin-bottom: 27px;   
    }
}

.article {
    &__image {
        width: calc(100% + 30px);
        margin: 0 -15px 30px;
        @include tablet {
            width: calc(100% + 40px);
            margin: 0 -20px 30px;
        }
        @include desktop-sm {
            margin: 0 0px 15px;
            width:100%;
        }
    }
    &__container {
        max-width: 770px;
        margin: 0 auto 30px;
        @include desktop-sm {
            max-width: 1030px;
        }
        a {
            border-bottom: 1px solid $body-text !important;
            color: $body-text;
            &:hover, &:focus {
                color: $hover-color;
                border-color: $hover-color !important;
            }
        }
        /* img {
            margin-left: 0px !important;
            margin-right: 0px !important;
            width: auto !important;
        } */
    }
    &__channel_wrap {
        text-align: center;
        width: 100%;
        position: relative;
    }
    &__channel {
        border-radius: 39px;
        margin-bottom: 25px;
        display: inline-block;
        padding: 3px 15px;
        background-color: #9DB7BF;
        @include text-sm($letter-spacing: 0.21px, $color: $white);
        font-family: $heading-font-family;
        @include tablet {
            margin-bottom: 32px;
        }
    }
    &__author {
        @include text-sm();
        margin: auto 8px;
    }
    &__header {
        margin-bottom: 35px;
        align-items: center;
        justify-content: center;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        @include tablet {
            display: flex;
            margin-bottom: 50px;
        }
        &_actions {
            text-align: center;
            margin-top: 5px;
            @include tablet {
                margin-top: 0;
                text-align: left;
            }
        }
        &-item {
            border-radius: 2px 0px 0px 2px;
            border: 1px solid rgb(236, 243, 245);
            height: 36px;
            margin-top: 12px;
            &:first-child {
                border-radius: 70px 0 0 70px;
            }
            &:last-child {
                border-radius: 0 70px 70px 0;
            }
        }
    }
    &__profile {
        justify-content: center;
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: $white;
        padding: 3px 5px 3px 10px;
    }
    &__headline {
        text-align: center;
        max-width: 1030px;
        margin-left: auto;
        margin-right: auto;
    }
    &__date {
        opacity: 0.69;
        font-weight: 600;
        font-size: 12px;
        color: #4A4A4A;
        letter-spacing: 0px;
        text-align: center;
        margin-bottom: 10px;
        // @include desktop-sm {
        //   margin-bottom: 40px;
        // }
    }
    &__intro, &__intro p {
        font-family: $heading-font-family;
        @include text-md($font-multiplier:1.34,$font-weight: 600);
        margin-bottom: 30px;
    }
    &__photo-author {
        @extend .article__date;
        color: white;
        opacity:1;
        margin-bottom: 20px;
        text-align: center;
        position: relative;
    }
}

.show-comments__wrap {
    text-align: center;
}

.show-comments {
    @extend .button;
    @extend .header_actions__comments;
}

.comments-header {
    //margin-bottom:10px;
    border-top: 1px solid rgba(0,0,0,0.1);
    padding-top: 50px;
    margin-bottom: 50px!important;
    opacity: 0.4;
    font-weight: 400!important;
    text-align: center;
}

.additional-articles__header {
    border-top: 1px solid rgba(0,0,0,0.1);
    padding-top: 50px;
    margin-bottom: 50px!important;
    opacity: 0.4;
    font-weight: 400!important;
}

.show-comments {
    background: #FFFFFF;
    border: 1px solid #7396A5;
    border-radius: 2px;
    font-weight: 600;
    font-size: 15px;
    color: #7396A5;
    letter-spacing: 0px;
    padding: 3px 15px 4px;
}

.profile__author_wrap {
    align-items: center;
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-bottom: 2px;
    @include tablet {
        align-items: flex-start;
        align-self: center;
        margin-left: 15px;
    }
}

.heading {
    font-weight: 300;
    font-size: 39px;
    color: #384362;
    letter-spacing: -1.01px;
    line-height: 45px;
    margin-bottom: 45px;
    width: 100%;
}

.DisqusCommentArea {
    width:100%;
    margin-top:40px;
    display:inline-block;
    border-top:2px solid rgba($hover-color, 0.75);
}

[class*="medium-insert-"], .article-content-section {
    body {
        height: auto;
    }
    .slide__caption {
        bottom:0px;
        width:100%;
        padding:15px 25px;

        > p {
            width:100%;
            margin-bottom:0px!important;
            font-size:($baseFontSize * 1) - 1!important;
        }
    }

    .video {
        .slide__caption {
            display:none;
        }
    }
}

.medium-insert-images {
    margin-bottom: 30px;

    figure {

    }
    figcaption {
        @include text-sm($font-multiplier: 0.78, $color: $dark-color);
        margin-top: 7px;
        opacity: 0.6;
    }
    img {
        margin: 0!important;
        width: 100%!important;
        // TODO: Need to push out image - cannot do because of !importants
        // @include tablet {
        // 		margin-left: -80px!important;
        // 		margin-right: -80px!important;
        // 		width: calc(100% + 160px)!important;
        // }
    }
    &-left, &-right {
        @include desktop-sm {
            max-width: 50%;
            //margin-bottom: 20px;
            margin-top: 31px;
            // img {
            // 	@include tablet {
            // 			width: 100%;
            // 	}
            // }
        }

    }
    &-left {
        @include desktop-sm {
            float: left;
            margin-right: 31px!important;
            margin-left: -80px!important;
        }

        figure {

        }
    }
    &-right {
        @include desktop-sm {
            float: right;
            margin-left: 31px!important;
            margin-right: -81px!important;
        }

    }
}

.medium-insert-vimeo, .medium-insert-youtube, .medium-insert-instagram {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    clear: both;
    iframe, object, embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .medium-insert-vim div {
        max-width: none!important;
    }

}

.medium-insert-instagram {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}


video.cloudVideo {
    width:100%;
}
