.search {
	&__form-big {
		text-align: center;

		margin: 0 auto;
    max-width: 600px;

		padding-top: 60px;
		padding-left: 20px;
		padding-right: 20px;
		form {
			position: relative;
		}
		.header__search-text {
			background: #fff;
			width: 100%;
			@include text-md($font-multiplier: 1, $font-weight: 400);

		}
	}
	&__heading {
      @include text-md($font-multiplier: 0.9, $font-weight: 600);
      max-width: 1170px;
			margin: 0 auto;
	    text-align: center;
			margin-bottom: 40px;
			padding-top: 20px;
			opacity: 0.6;
      @include desktop-lg {
        max-width: 1580px;
      }
      span {
        font-style: italic;
      }
    }
}
